
:root{
  --background-color: #B7BDFF;
  --color:#474747;
}
.dark-mode-theme {
  --background-color: #000000;
  --color: #747FFF;
}


body {
  font-family: sans-serif;
  margin: 0;
  background: var(--background-color) ;
  color: var(--color);
}

#toggle-btn {
  padding: 0.5em;
  font-weight: 800;
}

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-toggle {
  background: #10FF25;
  color: #000;
}


